.help-tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.help-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.tooltip-container {
  display: flex;
  gap: 4px;
}

.tooltip-box {
  position: absolute;
  top: 30px;
  left: 0;
  width: 300px;
  background: #fff;
  border: none;
  padding: 15px;
  font-size: 0.8rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px #0000001a;
  z-index: 999;
  color: var(--secondary-text);
}

.tooltip-purple {
  color: var(--primary-color) !important;
}