.logo img {
  height: 55px; 
  width: auto;
  margin-left: 1.5rem;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: 1.5rem;
  padding-left: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: var(--dark-grey);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.5s ease-in-out
}

.nav-links a:hover {
  color: var(--primary-color);
}
