.settings-container {
    display: flex;
    justify-content: center; /* Centers the settings panel */
    width: 900px; /* Fixed width */
    margin-left: 0; /* Centers the container */
    min-height: 100vh;
    background: var(--white);
    margin-top: 130px;
    padding: 800px;
}

.settings-left {
    width: 30%;
    padding: 40px 20px;
    background: var(--white);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
    min-height: 100vh;
}

.settings-left h3 {
    font-size: 16px;
    color: var(--dark-grey);
    margin-top: 20px;
}

.settings-left button {
    background: none;
    border: none;
    color: var(--dark-grey);
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    padding: 10px 0;
    transition: color 0.2s ease-in-out;
    padding: 12px 15px;
}

.settings-left button:hover,
.settings-left .selected {
    color: var(--primary-color);
    font-weight: bold;
}

.settings-left .selected {
    color: var(--primary-color);
}


.settings-right {
    padding: 40px;
    background: var(--white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    min-height: 100vh;
    width: 70%;
}

/* Inputs */
.settings-right input,
.settings-right textarea,
.settings-right select {
    border: 2px solid var(--lightest-grey);
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    margin: 0;
    width: 70%;
}

/* Buttons */
.settings-right button {
    color: var(--white);
    cursor: pointer;
    font-size: 1em;
    width: 75%;
    height: 2.5em;
    border-radius: 1em;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
    align-self: center;
}

.settings-right button:hover {
    transform: scale(1.05);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.about {
    height: 200px;
    font-family: inherit;
}

.form-group {
    margin-bottom: 20px;
}

.settings-right label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 60px;
    color: var(--dark-grey);
}

.settings-right select {
    width: 100%;
    padding: 12px 15px; 
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid var(--light-grey);
    background: var(--white);
    appearance: none; /* Removes default styles */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.activity-section {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    background: var(--lightest-grey);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
}

.activity-section h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--dark-grey);
}

.activity-section p {
    font-size: 14px;
    color: var(--dark-grey);
}
